{% extends 'heades_nav.html' %}


{% block content %}

    <div class="bg-gray-100 min-h-screen">
        <div class="container mx-auto p-6">
            <header class="text-center mb-8">
                <h1 class="text-4xl font-bold text-blue-600">Usuarios y registros del día</h1>
            </header>

            <!-- Contenedor de botón e input -->
            <div class="flex flex-col md:flex-row items-center justify-between gap-4 mb-6">
                <button id="downloadCsv"
                    class="bg-green-500 text-white font-bold py-2 px-6 rounded hover:bg-green-600 transition duration-300 shadow">
                    Descargar CSV
                </button>

                <div class="w-full md:w-auto">
                    <input type="date" id="dateInput"
                           onchange="handlingChangeDate()"
                           class="w-full md:w-60 bg-white text-gray-700 font-semibold py-2 px-4 rounded border border-blue-500 focus:outline-none focus:ring-2 focus:ring-red-400 transition duration-300" />
                </div>
            </div>

            <!-- Grid de datos -->
            <div id="myGrid" class="ag-theme-alpine mx-auto" style="height: 80vh; width: 100%; max-width: 1200px;"></div>
        </div>
    </div>


    <script>

        let gridOptions;

        document.addEventListener("DOMContentLoaded", function() {
            let dateInput = document.getElementById("dateInput");
            let today = new Date();

            // Formatear la fecha en formato YYYY-MM-DD
            let year = today.getFullYear();
            let month = String(today.getMonth() + 1).padStart(2, '0');
            let day = String(today.getDate()).padStart(2, '0');

            dateInput.value = `${year}-${month}-${day}`;
            dateInput.max = `${year}-${month}-${day}`;

            handlingGetData(`${year}-${month}-${day}`)

        });

        let btnDownload = document.getElementById("downloadCsv");

        document.querySelector('#downloadCsv').addEventListener('click', () => {

            if (gridOptions.api) {
                gridOptions.api.exportDataAsCsv();
            }
        });

        /**
         * This function create table to user time check to day
         */
        function handlingCreateTable(rowData=[]){
            let notFount = "Sin registro"
            const columnDefs = [
                { headerName: "Nombre", field: "user", sortable: true, filter: true, minWidth: 350, sort: "asc"  },
                { headerName: "Fecha", field: "check", sortable: true, filter: true, valueGetter: (params) => {
                        if( params.data.check.length == 0) {
                            return notFount
                        }
                        let text = "";

                        params.data.check.forEach(things=>{

                            text =  things.date;
                        })
                        return text;
                    }
                },
                { headerName: "Hora", field: "hour", sortable: true, filter: true, valueGetter: (params) => {

                        if( params.data.check.length == 0) {
                            return notFount
                        }
                        let text = "";
                        let lengthCollection = params.data.check.length > 1
                        params.data.check.forEach(things=>{

                            text += lengthCollection? `${things.hour} | ` : things.hour;
                        })
                        return text;
                    }
                },
                { headerName: "Checador", field: "hour", sortable: true, filter: true, valueGetter: (params) => {
                        if( params.data.check.length == 0) {
                            return notFount
                        }
                        let text = "";
                        let lengthCollection = params.data.check.length > 1
                        params.data.check.forEach(things=>{

                            text += lengthCollection? `${things.device} | ` : things.device;
                        })
                        return text;
                    }
                },
            ];

            gridOptions = {
                columnDefs: columnDefs,
                rowData: rowData,
                theme: 'legacy',
                pagination: true,
                paginationPageSize: 100,
                paginationPageSizeSelector: [50, 100, 5000],
                defaultColDef: {
                    resizable: true,
                },
                onGridReady: (params) => {
                    // Asigna la API al objeto gridOptions
                    gridOptions.api = params.api;

                },
            };

            const gridDiv = document.querySelector('#myGrid');

            new agGrid.createGrid(gridDiv, gridOptions);

        }

        /**
         * This function call to endpoint to get time check data
         */
        function handlingGetData(date=""){
            let loading = loadComponent("Cargando...", "Puede tardar unos minutos en lo que se consulta todos los checadores...");
            const gridDiv = document.querySelector('#myGrid');
            gridDiv.innerHTML = '';
            fetch(`/check-time-to-user/${date}/`)
            .then(response => response.json())
            .then(json => {
                loading.close();
                handlingCreateTable(json.data)

                loading = loadComponent("¡Exito!", json.message);
                loading.close()
            })
            .catch(error => console.error('Error al obtener los datos:', error));
        }

        /**
         * this function is handling to change date
         */
        function handlingChangeDate(){
            let dateInput = document.getElementById("dateInput");
            //console.log("Fecha seleccionada:", dateInput.value);

            handlingGetData(dateInput.value)
        }

    </script>

{% endblock %}