{% extends 'heades_nav.html' %}

{% block content %}
<div class="container mx-auto mt-6">
    <div class="bg-white shadow-md rounded-lg p-6">

        {# region Head #}
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4 mb-6">

            <h1 class="text-3xl font-bold text-gray-900">Dispositivos Registrados</h1>

            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            <div class="flex flex-col sm:flex-row gap-3">
                {% if validate %}
                    <button
                        onclick="handlingBtnSynchronizeDevice()"
                        class="bg-green-600 hover:bg-green-700 text-white text-sm font-medium px-5 py-2.5 rounded-lg transition duration-300"
                    >
                        Sincronizar dispositivos
                    </button>
                {% endif %}

                <button
                        onclick="handlingBtnSynchronizeDateDevice()"
                    class="bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium px-5 py-2.5 rounded-lg transition duration-300 text-center"
                >
                    Sincronización de<br class="sm:hidden"/>hora y fecha
                </button>
            </div>
        </div>
        {# endregion Head #}

        <div class="overflow-x-auto">
            <table class="min-w-full table-auto border-collapse border border-gray-300">
                <thead class="bg-blue-600 text-white">
                    <tr>
                        <th class="px-4 py-2 border border-gray-300 text-left">#</th>
                        <th class="px-4 py-2 border border-gray-300 text-left">Nombre del Dispositivo</th>
                        <th class="px-4 py-2 border border-gray-300 text-left">Usuarios</th>
                        <th class="px-4 py-2 border border-gray-300 text-left">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dev in device %}
                    <tr class="hover:bg-gray-100">
                        <td class="px-4 py-2 border border-gray-300">{{ forloop.counter }}</td>
                        <td class="px-4 py-2 border border-gray-300">{{ dev.name }}</td>
                        <td class="px-4 py-2 border border-gray-300">{{ dev.users }}</td>
                        <td class="px-4 py-2 border border-gray-300">
                            {% if dev.ping_status == True %}
                            <span class="bg-green-200 text-green-800 text-sm px-2 py-1 rounded">En línea</span>
                            {% else %}
                            <span class="bg-red-200 text-red-800 text-sm px-2 py-1 rounded">Desconectado</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center text-gray-500 py-4">No se encontraron dispositivos.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function handlingBtnSynchronizeDevice(){
        loadComponent("Cargando...","Sincronizando usuario...", "info")
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        // Obtener el contenido del modal y reemplazar datos dinámicamente
        fetch('/synchronize-user-all/',{
            method: 'POST',
            headers:{
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(event.data)
        })
        .then(response => response.json())
        .then(data => {
            loadComponent(data.message)
            window.location.reload();
        })
        .catch(error => {
            console.error('Error al obtener el contenido del modal:', error);
            Swal.fire({
                title: 'Error',
                text: 'Intenta mas tarde',
                icon: 'error'
            });
        });
    }

    function handlingBtnSynchronizeDateDevice(){
        let loading = loadComponent("Cargando...","Sincronizando fechas...", "info")
        fetch('/synchronize-date-device/',{
            method: 'GET',
            headers:{
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(event.data)
        })
        .then(response => response.json())
        .then(data => {
            loading.close();
            alert(`${data.message}`)

        })
        .catch(error => {
            loading.close();
            console.error('Error', error);
            Swal.fire({
                title: 'Error',
                text: 'Intenta mas tarde',
                icon: 'error'
            });
        });
    }
</script>
{% endblock %}