<div class="bg-white shadow-lg rounded-lg p-8 space-y-6 max-w-4xl mx-auto">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <!-- CONTENT BY NAME TO USER -->
        <div>
            <label for="user_name" class="block text-gray-700 font-medium mb-2">Nombre:</label>
            <div
                id="user_name"
                class="w-full border border-gray-300 rounded-lg px-4 py-2 bg-gray-100 text-gray-700 cursor-not-allowed focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200"
            >
                {{name}}
            </div>
        </div>

        <!-- CONTENT ID BY USER -->
        <div>
            <label for="id_user" class="block text-gray-700 font-medium mb-2">ID:</label>
            <div
                id="id_user"
                class="w-full border border-gray-300 rounded-lg px-4 py-2 bg-gray-100 text-gray-700 cursor-not-allowed focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200"
            >
                {{id}}
            </div>
        </div>


        <!-- CONTENT BY PASSWORD BY USER -->
<!--        <div>-->
<!--            <label for="input2" class="block text-gray-700 font-medium mb-2">Contraseña:</label>-->
<!--            <input-->
<!--                type="password"-->
<!--                id="input2"-->
<!--                value="{{id}}"-->
<!--                class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200"-->
<!--                min="0"-->
<!--                placeholder="Contraseña numérica"-->
<!--            >-->
<!--        </div>-->

        <!-- CONTENT BY PRIVILEGE -->
        <div>
            <label for="role_user" class="block text-gray-700 font-medium mb-2">Seleccionar Rol:</label>
            <select
                id="role_user"
                class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200"
            >
                <option value="0" {% if privilege == 0 %}selected{% endif %}>Usuario</option>
                <option value="1" {% if privilege == 1 %}selected{% endif %}>Admin</option>
            </select>
        </div>
    </div>
    <div class="flex space-x-4">
        <button onclick="synchronizeUser()" class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-300">SINCRONIZAR</button>
        <button class="bg-red-600 text-white px-6 py-3 rounded-lg hover:bg-red-700 transition duration-300">ELIMINAR</button>
    </div>

</div>
